cff-version: 1.2.0
message: "If you use this software, please cite it as below."
title: "{{ project_name }}"
version: 0.1.0
date-released: "{{ year }}-01-01"
url: "https://github.com/{{ github_user }}/{{ project_name }}"
authors:
  - given-names: "{{ author.rsplit(' ', 1)[0] }}"
    family-names: "{{ author.rsplit(' ', 1)[1] }}"
